@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>School Teacher Admin System</h1>
    <p class="lead">We Help You To Manage and Assign Teachers to Students</p>
    <p><a href="" class="btn btn-primary btn-lg">Why Choose Us? &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Easy To Add</h2>
        <p>
           Adding a New Student Or a Teacher To a Database Is Now Easy
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Easy To Remove</h2>
        <p>Removing a New Student Or a Teacher To a Database Is Now Easy</p>
        
    </div>
    <div class="col-md-4">
        <h2>More Coming Soon</h2>
        <p>This App Is Updated Frequently</p>
        
    </div>
</div>