@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Room, Srinagar Jammu and Kashmir</h1>
    <p class="lead">We Keep Our Library Up To Date</p>
  <!--  <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Free Subscription</h2>
        <p>
             You Can Read any Book in The Library for One Hour.
        </p>
        <p><a class="btn btn-default" href="">Free &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Premium Subscription</h2>
        <p>You Can Take Two Books With You for 15Days.</p>
        <p><a class="btn btn-default" href="">Premium &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Premium Ultra Subscription</h2>
        <p>Coming Soon</p>
        <!--<p><a class="btn btn-default" href=""> &raquo;</a></p>-->
    </div>
</div>